.contact {
    margin-top: 2rem;
    margin-left: 10rem;
}

.contact-sheet {
        
        display: flex;
        flex-direction:column;
        align-items:flex-start;
      }

.contact-btn {
   
    
}